body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #9F496E;
    padding: 15px;
    font-family: "Courier New", Monospace, serif;
}

#homePage {
    margin-left: auto;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    background-color: #647295;

    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    color: #fff;
}

#playlistPage {
    margin-left: auto;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    background-color: #647295;

    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    color: #fff;
}

footer {
    background-color: #9F496E;
    padding: 30px;
}

/* Playlist Cards Styling */

.playlist-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-top: 20px;
}

.playlist {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out; 
}

.playlist:hover {
    box-shadow: 0px 4px 8px #9F496E;
}

.playlistImg {
    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.playlistTitle {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "FreeMono", Monospace, serif;
}

.playlistCreator {
    font-size: 18px;
    margin-left: 10px;
    font-family: "Courier New", Monospace, serif;
}

.likes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10px;
}

.emoji {
    font-size: 15px;
}

/* Modal Styling */

.modal-overlay {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    margin: 10px 10px 10px 10px;
    width: 950px;
    height: 700px;
    overflow: auto;
    background-color: #F2EBE5;
    border-radius: 20px;
}

.modal-intro {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modal-titles {
    display: flex;
    flex-direction: column;
}

#songContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 930px;
    height: 90px;
    margin-left: 10px;
    background-color: white;
}

.song:hover {
    box-shadow: 0px 4px 8px #647295;
}

.songInfo {
    display: flex;
    flex-direction: column;
    height: 85px;
    margin-top: 5px;
}

#modalImg {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
}

#modalTitle {
    font-size: 30px;
    margin-bottom: 0px;
    font-family: "FreeMono", Monospace, serif;
}

#modalCreatorTitle {
    font-size: 20px;
    font-family: "Courier New", Monospace, serif;
}

#shuffleBtn {
    padding: 10px;
    width: 100px;
    margin-left: 55px;
    font-size: 16px;
    background-color: #647295;

    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    color: #fff;
}


.songImg {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
  }

#modalTitle {
    text-align: center;
}

.songTitle {
    margin-bottom: 0px;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    font-family: "FreeMono", Monospace, serif;
}
.songArtist{
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: "Courier New", Monospace, serif;
}

.songAlbum {
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: "Courier New", Monospace, serif;
}

.songLength {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 35px;
    font-family: "Courier New", Monospace, serif;
}

/* Home Page Styling */

#featuredPlaylist {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#playlistInfo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 100px;
}

#image {
    width: 400px;
    height: 400px;
}

#playlistName {
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 50px;
    font-family: "FreeMono", Monospace, serif;
}

#creatorName {
    font-size: 30px;
    font-family: "Courier New", Monospace, serif;
}

#allSongs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.songCard {
    display: flex;
    flex-direction: row;
    border: 1px solid #d3d3d3;
    width: 1750px;
    height: 200px;
    margin-left: 20px;
    gap: 40px;
}

.songCard:hover {
    box-shadow: 0px 4px 8px #647295;
}

.songImage {
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
    height: 180px;
}

.songTitles {
    margin-top: 40px;
}

.title {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "FreeMono", Monospace, serif;

}

.artist {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Courier New", Monospace, serif;
   
}

.album {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Courier New", Monospace, serif;
}

.length {
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 90px;
    font-family: "Courier New", Monospace, serif;
}